@import './base.css';

@font-face {
  font-family: 'NotoSansLao';
  src: url('../assets/fonts/NotoSansLao-Regular.ttf') format('truetype');
}
#app {
  transition: 0.5s;
  margin: 0px;
  padding: 0px;
  font-family: 'NotoSansLao', Avenir, Helvetica, Arial, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nav Bar */
nav {
  background-image: url("@/assets/img/Direct-banking-lvb_07.jpg");
  background-size: cover; /* Scales the image to cover the navbar area */
  background-position: center; /* Centers the image in the navbar */
  background-repeat: no-repeat;
  border-top: 4px solid white;
  color: white;
}
/*  */
.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {

  position: relative;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

a:hover {
  color: rgb(189, 0, 0);
  text-decoration: underline;
}

.group:hover .group-hover\\:block {
  display: block;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* change language */
.custom-select {
  position: relative;
  display: inline-block;
}
/* pc */
.custom-select .bt-pc {
  background: #f0f0f0;
  /* border: 2px solid black; */
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  color: black;
  border-radius: 2px;
  /* width: 35px; */
  height: 30px;
  margin-top: 5px;
}


.custom-select .dropdown-pc {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px 10px 5px 8px;
  margin: 5px 0 0 0;
  width: 155px;
  color: black;
  z-index: 100;
}

.dropdown-pc li {
  padding: 5px 5px 5px 2px;
  /* cursor: pointer; */
  font-size: 13px;
  display: flex;
  gap: 10px;

}

.dropdown-pc li:hover {
  background: #eee;
}
.flag-icon-pc {
  width: 20px;
  height: 15px;
}

.bt-pc .flag-bt {
  width: 20px;
  height: 15px;
  margin: 3px 0 0 5px;
  border: 1px solid gray;
}

/* mobile */
.custom-select .bt-mb {
  background: #f0f0f0;
  /* border: 2px solid black; */
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(67, 5, 5);
}
.custom-select .dropdown-mb {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;
  /* padding: 5px 10px 5px 5px; */
  margin: 5px 0 0 0;
  width: 70px;
  color: black;
  z-index: 100;
}
.dropdown-mb li {
  padding: 10px 7px 10px 7px;
  /* cursor: pointer; */
  font-size: 10px;
  display: flex;
  gap: 10px;

}
.flag-icon-mb {
  width: 25px;
  height: 15px;
  border: 1px solid rgb(193, 193, 193);

}
.bt-mb .flag-bt {
  width: 20px;
  height: 20px;
  margin: 1.8px 0 0 1.6px;
  border: 1px solid gray;
}
.bt-mb img{
  border-radius: 50%;
}
.dropdown-mb li:hover {
  background: #eee;
}
/* Nav mobile */
.nav-mobile{
  width: 100%;
  background-image: url("@/assets/img/Direct-banking-lvb_05.jpg");
  background-color: rgb(221, 221, 221);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-nav-mb{
  /* width: 100%; */
  /* height: 30px; */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat;
  margin-left: 10px; */
}
.img-nav-mb{
  /* background-image: url("@/assets/img/LVB.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* margin-left: 20px; */
}